@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5; /* Light gray */
  --foreground: #333333; /* Dark gray */
  --primary: #0078D4; /* Carolina Blue */
  --secondary: #444444; /* Dark gray */
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}

img {
  border-radius: 50%;
}
